@import "mixins";
@import "fonts";
@import "variables";
@import "../../../../../node_modules/react-alice-carousel/lib/scss/alice-carousel.scss";

@import "header";
@import "carousel";
@import "search";

html{
  overflow-x: hidden;
  
  body{
    overflow: hidden;
    background-color: $white;
    margin: 0;
    p{
      margin: 0;
    }
    a{
      text-decoration: none;
      color: $green;
      &:visited{
        color: $yellow;
      }
    }

    ul{
      list-style-type: none;
      padding: 0;
      margin: 0;
    }


    .spinnerWrapp{
      margin: 0 auto;
      width: 32px;
      height: 32px;
      .spinner{
        width: 32px;
        height: 32px;
        animation: spin 1.5s linear infinite;
      }
    }
  }
}