@import "mixins";
@import "fonts";
@import "variables";
@import "../../../../../node_modules/react-alice-carousel/lib/scss/alice-carousel.scss";

@import "header";
@import "carousel";

body{
  background-color: $white;
  margin: 0;
  p{
    margin: 0;
  }
  a{
    text-decoration: none;
    color: $green;
    &:visited{
      color: $yellow;
    }
  }

  ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
}